@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Rooftop";
  src: url("/fonts/Rooftop-Extrabold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rooftop";
  src: url("/fonts/Rooftop-Extended-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rooftop";
  src: url("/fonts/Rooftop-Extended-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
}
